<a href="https://colab.research.google.com/github/Priyo-prog/Statistics-and-Data-Science/blob/main/exploratory_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exploratory Data Analysis: Loading Data**

1. Manually loading a file

2. Using **np.loadtxt**

3. Using **np.genfromtxt**

4. Using **pd.read_csv**

5. Using **pickle**

## Import libraries and packages

In [1]:
import numpy as np
import pickle
import pandas as pd
filename = '/content/drive/MyDrive/Data Science/Statistical Analysis/load.csv'

In [2]:
## mount the google drive to fetch the data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
## Manual loading of file 

cols = None
data = []

with open(filename) as f:
  for line in f.readlines():
    vals = line.replace("\n", "").split(",")
    if cols is None:
      cols = vals
    else:
      data.append([float(x) for x in vals])  

d0 = pd.DataFrame(data, columns = cols)

print(d0.dtypes)
d0.head()

A    float64
B    float64
C    float64
D    float64
E    float64
dtype: object

       A       B       C        D      E
0  1.276  21.400  63.957  216.204  528.0
1  1.002  21.950  61.697  204.484  514.0
2  1.114  22.454  63.522  205.608  514.0
3  1.133  22.494  61.590  206.565  501.0
4  0.845  21.654  63.729  201.289  532.0

In [6]:
## Using numpy loadtxt
d1 = np.loadtxt(filename, skiprows=1, delimiter=',')
print(d1.dtype)
print(d1[:5, :])

float64
[[  1.276  21.4    63.957 216.204 528.   ]
 [  1.002  21.95   61.697 204.484 514.   ]
 [  1.114  22.454  63.522 205.608 514.   ]
 [  1.133  22.494  61.59  206.565 501.   ]
 [  0.845  21.654  63.729 201.289 532.   ]]

In [10]:
## Using numpy genfromtxt
d2 = np.genfromtxt(filename, delimiter=",", names=True, dtype=None)
print(d2.dtype)
print(d2[:5, :])

[('A', '<f8'), ('B', '<f8'), ('C', '<f8'), ('D', '<f8'), ('E', '<i8')]

IndexError: ignored

Wnen we put **names=True** the data set is treated as 1-d array instead of 2-d array and ignores the column as 2nd dimension.

In [11]:
## Using numpy genfromtxt
d2 = np.genfromtxt(filename, delimiter=",", names=True, dtype=None)
print(d2.dtype)
print(d2[:5])

[('A', '<f8'), ('B', '<f8'), ('C', '<f8'), ('D', '<f8'), ('E', '<i8')]
[(1.276, 21.4  , 63.957, 216.204, 528)
 (1.002, 21.95 , 61.697, 204.484, 514)
 (1.114, 22.454, 63.522, 205.608, 514)
 (1.133, 22.494, 61.59 , 206.565, 501)
 (0.845, 21.654, 63.729, 201.289, 532)]

In [12]:
## Using pandas 
d3 = pd.read_csv(filename)
print(d3.dtypes)
d3.head()

A    float64
B    float64
C    float64
D    float64
E      int64
dtype: object

       A       B       C        D    E
0  1.276  21.400  63.957  216.204  528
1  1.002  21.950  61.697  204.484  514
2  1.114  22.454  63.522  205.608  514
3  1.133  22.494  61.590  206.565  501
4  0.845  21.654  63.729  201.289  532